<!--Start of we can fund  section -->
<section class="we-can-fund text-center" id="we-can-fund-section">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h1 class="heading text-primary font-weight-bold">
          We can fund you right now for...
        </h1>
      </div>
    </div>
    <div class="row mb-3 mb-md-5">
      <div class="col d-flex justify-content-center">
        <p class="sub-heading text-primary font-weight-medium">
          A variety of things from apps to websites
        </p>
      </div>
    </div>
    <div class="row px-0 px-md-3">
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-4">
          <h3>Company Branding</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-4">
          <h3>Booking Portals</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-4">
          <h3>CRM Systems</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-4">
          <h3>Websites</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-4">
          <h3>E-commerce Sites</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-4">
          <h3>Saas Platforms</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-4">
          <h3>Apps</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-4">
          <h3>Company Software</h3>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 box">
        <div class="we-can-fund-box mb-0 mb-md-4">
          <h3>Games</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of we can fund section -->
