section {
  padding: 3rem 0;
  @media only screen and (min-width: 768px) {
    padding: 7rem 0;
  }
}

.heading {
  font-size: clamp(1.875rem, 4.2vw, 3.125em);
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media screen and (min-width: 1200px) {
    margin-top: -0.938rem;
  }
}

.sub-heading {
  font-size: clamp(0.875rem, 2.05vw, 1.5rem);
  margin-bottom: 1rem;
}

p {
  font-size: clamp(0.875rem, 2.05vw, 1rem);
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.play-btn {
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-container {
  max-width: 550px;
}

.f-blue {
  top: 0;
  right: 0;
  z-index: 1;
  width: 15%;

  @media screen and (min-width: 768px) {
    width: 9%;
  }
}

.f-pink {
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 15%;

  @media screen and (min-width: 768px) {
    width: 9%;
  }
}
