<!-- Start of powered by AI section -->
<section class="powered-by-ai bg-primary position-relative" id="ai-section">
  <div class="z-index-2 container position-relative" style="z-index: 2">
    <div class="row">
      <div class="col-xl-6">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="position-relative">
            <img
              src="/assets/images/homepage/ai-section/video.png"
              alt="powered by AI section video"
              class="img-fluid"
            />
            <!-- Hide No Video
            <img
              src="/assets/images/misc/play-button.svg"
              alt="play-btn"
              class="play-btn position-absolute img-fluid"
            />
            -->
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="d-flex justify-content-center h-100">
          <div
            class="d-flex flex-column justify-content-between text-container"
          >
            <h1
              class="heading text-white font-weight-bold text-center text-xl-left"
            >
              You found it, let us fund it!
            </h1>
            <h3 class="sub-heading text-success text-center text-xl-left">
              We know that fellow founders deserve better.
            </h3>
            <p class="text-white text-center text-xl-left">
              For so long, raising investment has meant founders suffer
              expensive dilution, high interest rates or get hit with personal
              guarantees.
            </p>
            <p class="text-white text-center text-xl-left">
              We know what it's like, we are founders after all. That’s why we
              invest £5K - £500K and only charge a flat fee from as little as
              £1000.
            </p>
            <p class="text-white text-center text-xl-left">
              You can apply online, receive an offer in less than 24 hours and
              start innovating your business instantly. Without any surprises in
              the future.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    src="/assets/images/homepage/ai-section/f-blue.svg"
    alt="f-blue"
    class="f-blue position-absolute img-fluid"
  />
  <img
    src="/assets/images/homepage/ai-section/f-pink.svg"
    alt="f-pink"
    class="f-pink position-absolute img-fluid"
  />
</section>
<!-- End of powered by section -->
