<div class="messages-container container">
  <div class="row">
    <div class="col-12 col-md-5 offset-md-7">
      <div class="row align-items-center">
        <div class="col-2 order-2">
          <img 
            src="assets/images/misc/john.svg" 
            alt="john"
          />
        </div>
        <div class="col-6 order-1 offset-4">
          <div class="message-item mt-3">
            Hello there!!
          </div>
          <span class="mb-3 float-right">10mins ago</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-5 offset-md-7">
      <div class="row align-items-center">
        <div class="col-2 order-2">
          <img 
            src="assets/images/misc/john.svg" 
            alt="john"
          />
        </div>
        <div class="col-9 order-1 offset-1">
          <div class="message-item mt-3">
            How can i help you today?
          </div>
          <span class="mb-3 float-right">10mins ago</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-5">
      <div class="row align-items-center">
        <div class="col-2">
          <img 
            src="assets/images/misc/phil.svg" 
            alt="phil" 
          />
        </div>
        <div class="col-10"> 
          <div class="message-item mt-3 user message">
            Hello, nice to hear from you? 
          </div>
          <span class="mb-3 message">10mins ago</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10">
      <div class="row align-items-center">
        <div class="col-1">
          <img 
            src="assets/images/misc/phil.svg" 
            alt="phil" 
          />
        </div>
        <div class="col-9 col-sm-10 offset-1 offset-sm-0">
          <div class="message-item mt-3 user message">
            I like to create a branding project for my start
             up business, can you please help me?
          </div>
          <span class="mb-3 message">10mins ago</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-2">
      <div class="row align-items-center">
        <div class="col-1 order-2">
          <img 
            src="assets/images/misc/john.svg" 
            alt="john" class="pb-4"
          />
        </div>
        <div class="col-10 col-sm-11 order-1">
          <div class="message-item mt-3 mr-0">
            Sure, we are excited to help you launch your
             brand, let's discuss more
          </div>
          <span class="mb-3 float-right">8mins ago</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10">
      <div class="row align-items-center">
        <div class="col-1">
          <img 
            src="assets/images/misc/phil.svg" 
            alt="phil" 
          />
        </div>
        <div class="col-9 col-sm-10 offset-1 offset-sm-0">
          <div class="message-item mt-3 user message">
            So, I will explain a little about my business model
             and give you the proper brief
          </div>
          <span class="mb-3 message">8mins ago</span>
        </div>
      </div>
    </div>
  </div>
</div>
