<div class="d-flex justify-content-center align-items-center h-100 py-3">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
  >
    <div class="d-flex justify-content-center align-items-center mb-5">
      <img
        src="/assets/images/homepage/reviews-section/craig.svg"
        alt="powered by AI section video"
        class="img-fluid w-75"
      />
    </div>
    <h1 class="heading text-white font-weight-bold text-center">
      We empower innovators and<br />
      enterpreneurs
    </h1>
    <div class="text-container position-relative my-4">
      <blockquote
        class="text-white text-center font-weight-medium mb-0 position-relative"
      >
        <span class="position-relative colon">“</span>
        My law firm wanted to build a new bespoke CRM system but didn't
        have the cash flow. I was approved for funding with funda within
        24 hours and had my new CRM within 12 weeks.
      </blockquote>
    </div>
    <div class="sign-off text-white text-center">
      <h2 class="sub-heading font-weight-normal mb-3">Craig Cooper</h2>
      <h2 class="sub-heading mb-0">Baring Laws</h2>
    </div>
  </div>
</div>
