
<div class="intro h-100 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col justify-content-center align-items-center">
        <div class="funda-logo"> 
          <img src="assets/images/logos/funda-logo-alt.svg" alt="Funda Logo"/>
        </div>
      </div>
    </div>
    <div class="row">
         <div class="col-md-4 offset-md-4">
            <button class="btn btn-danger">Desktop</button>
            <button class="btn btn-danger">Mobile</button>
         </div>
    </div>
  </div>
</div>
