<!--Start of  Why Funda section -->
<section class="why-funda text-center" id="why-funda-section">
  <div class="container">
    <h1 class="heading font-weight-bold text-primary">
      Why use Funda for your next innovation?
    </h1>
    <h2 class="sub-heading">
      Accelerate your innovation with founder friendly funding
    </h2>
    <div class="row text-primary">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="item d-flex flex-column align-items-center">
          <ng-lottie
            class="img-fluid mb-4 mb-md-5"
            height="150px"
            [options]="hourGlassAnimation"
          ></ng-lottie>
          <h3 class="title font-weight-semibold">Quick Decision</h3>
          <p>Apply in minutes, get a decision within 24 hours</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="item d-flex flex-column align-items-center">
          <ng-lottie
            class="img-fluid mb-4 mb-md-5"
            height="150px"
            [options]="safeAnimation"
          ></ng-lottie>
          <h3 class="title font-weight-semibold">Keep Control</h3>
          <p>No personal guarantees or loss of equity</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="item d-flex flex-column align-items-center">
          <ng-lottie
            class="img-fluid mb-4 mb-md-5"
            height="150px"
            [options]="magnifierAnimation"
          ></ng-lottie>
          <h3 class="title font-weight-semibold">Fully Transparent</h3>
          <p>3 year interest free. Just pay a small flat fee</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="item d-flex flex-column align-items-center">
          <ng-lottie
            class="img-fluid mb-4 mb-md-5"
            height="150px"
            [options]="calculatorAnimation"
          ></ng-lottie>
          <h3 class="title font-weight-semibold">No Credit Checks</h3>
          <p>Our AI will calculate how much we can fund you</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Why Funda section -->
