section {
  padding: 3rem 0;
  @media only screen and (min-width: 768px) {
    padding: 7rem 0;
  }
}

.heading {
  font-size: clamp(1.875rem, 4.2vw, 3.125em);
  margin-bottom: 1rem;
}

.sub-heading {
  font-size: clamp(0.875rem, 2.05vw, 1.5rem);
  color: #455466 !important;
  margin-bottom: 3rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 7rem;
  }
}

.title {
  font-size: clamp(0.875rem, 2.05vw, 1.5rem);
  margin-bottom: 1rem;
}

p {
  font-size: clamp(0.75rem, 2.05vw, 1rem);
  max-width: 200px;
}
