<div
class="
  d-flex
  justify-content-start
  align-items-center
  pl-0 pl
  h-100
"
>
  <div class="position-relative">
    <img
      src="/assets/images/dashboard/main-content/get-started/thumbnail.png"
      alt="How funda works - video"
      class="img-fluid"
    />
    <img
      src="/assets/images/misc/play-button.svg"
      alt="play-btn"
      class="play-btn position-absolute img-fluid"
    />
  </div>
</div>
<div
class="
  d-flex
  justify-content-center justify-content-lg-end
  mt-5
  mb-4
  mr-lg-4
"
>
<button
  class="btn btn-danger font-weight-semibold"
  (click)="goToNextAccordionItem('business-info-form', $event)"
>
  Let's go!
</button>
</div>
