<app-nav-header></app-nav-header>
<div class="content justify-content-center">
  <h3 class="mt-4 mb-4 text-primary font-weight-bold text-center">
    Great you're all booked in!
  </h3>

  <h5 class="mb-4 text-primary font-weight-regular text-center">
    Ahead of your meeting, sign in and connect your sales platforms so we can
    prepare your offer.
  </h5>
  <div class="button-container">
    <button
      [routerLink]="['/dashboard/get-started']"
      class="btn btn-danger font-weight-semibold"
    >
      Go to Account
    </button>
  </div>
</div>
