<!-- Start of powered by AI section -->
<section class="empower-innovators bg-primary" id="reviews-section">
  <div class="container">
    <swiper
      [slidesPerView]="1"
      [spaceBetween]="50"
      [autoplay]="{ delay: 3000 }"
      [speed]="1000"
      #swiper
    >
      <ng-template swiperSlide><review></review></ng-template>
    </swiper>
    <!-- next and previous buttons -->
    <!-- <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center mt-5">
          <div class="arrows-wrapper d-flex">
            <div class="position-relative mr-5">
              <button
                class="arrow left-arrow btn btn-primary bg-white text-dark"
                (click)="onPrevClick()"
              >
                &lt;
              </button>
              <div class="borders"></div>
            </div>
            <div class="position-relative ml-5">
              <button
                class="arrow right-arrow btn btn-primary bg-white text-dark"
                (click)="onNextClick()"
              >
                &gt;
              </button>
              <div class="borders"></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<!-- End of powered by section -->
