<!-- Start of founders section -->
<section class="founders text-center" id="founders-section">
  <div class="container">
    <h1 class="heading text-primary">
      We are used by 100s of founders just like you
    </h1>
    <div class="row justify-content-center founders-list">
      <div
        class="
          col-4 col-sm-4 col-lg-3
          founder-logo
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <img
          class="img-fluid logo teamio"
          src="assets/images/logos/teamio-logo.svg"
          alt="teamio"
        />
      </div>
      <div
        class="
          col-4 col-sm-4 col-lg-3
          founder-logo
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <img
          class="img-fluid logo camoolah"
          style="margin-top: 0.938rem"
          src="assets/images/logos/camoolah-logo.svg"
          alt="camoolah"
        />
      </div>
      <div
        class="
          col-4 col-sm-4 col-lg-3
          founder-logo
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <img
          class="img-fluid logo academo"
          src="assets/images/logos/academo-logo.svg"
          alt="academo"
        />
      </div>
      <div
        class="
          col-4 col-sm-4 col-lg-3
          founder-logo
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <img
          class="img-fluid logo rowan"
          src="assets/images/logos/rowan-logo.svg"
          alt="rowan"
        />
      </div>
    </div>
  </div>
</section>
<!-- End of founders section -->
