<div class="container-fluid vh-100 w-100">
  <div class="row h-100">
    <div class="d-none d-md-block col-12 col-md-6 bg-primary orientation">
      <accounts-review></accounts-review>
    </div>
    <div
      class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center orientation-form position-relative"
    >
      <img
        src="assets/images/accounts/top-circles.svg"
        alt="top circles"
        class="img-fluid position-absolute orientation-circles top-circles"
      />
      <img
        src="assets/images/accounts/bottom-circles.svg"
        alt="bottom circles"
        class="img-fluid position-absolute orientation-circles bottom-circles"
      />
      <img
        class="img-fluid"
        src="assets/images/logos/funda-logo-dark.svg"
        alt="Funda Logo"
        width="150"
      />
      <reset-password-request
        *ngIf="route"
        class="w-100"
      ></reset-password-request>
      <reset-password-update
        *ngIf="!route"
        class="w-100"
      ></reset-password-update>
    </div>
  </div>
</div>
