.orientation {
  @media screen and (orientation: landscape) and (min-width: 768px) {
    display: block !important;
  }
  @media screen and (orientation: portrait) {
    display: none !important;
  }
}

.orientation-form {
  @media screen and (orientation: portrait) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.orientation-circles {
  @media screen and (orientation: landscape) {
    display: none !important;
  }
  @media screen and (orientation: portrait) {
    display: block !important;
  }
}

.top-circles {
  top: 0;
  left: 10%;
  pointer-events: none;
}

.bottom-circles {
  bottom: 0;
  right: 10%;
  pointer-events: none;
}
