<h3 class="my-4 text-primary font-weight-bold text-center">
  Update your password
</h3>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <div class="form-group mb-0">
    <div class="row justify-content-center">
      <div class="col-420px-12 col-10 col-sm-8 col-xl-7">
        <div class="input-wrapper draw meet position-relative mb-4">
          <label class="position-absolute input-label" for="password"
            >New Password</label
          >
          <input
            type="password"
            class="form-control form-input p-4"
            formControlName="password"
          />
        </div>
      </div>
      <div class="col-420px-12 col-10 col-sm-8 col-xl-7 text-center">
        <button type="submit" class="btn btn-danger font-weight-semibold">
          Update
        </button>
      </div>
    </div>
  </div>
</form>
<a
  [routerLink]="['/accounts/login']"
  class="text-danger font-weight-bold my-4 text-center d-block"
>
  Sign in
</a>
<p class="text-primary font-weight-medium text-center">
  Don’t have a funda account?<a
    [routerLink]="['/accounts/create']"
    [queryParams]="{ step: 'account' }"
    class="text-danger font-weight-bold"
  >
    Sign up
  </a>
</p>

<div
  *ngIf="isSubmitted"
  class="confirmation d-flex flex-column align-items-center mt-5"
>
  <img
    src="assets/images/accounts/reset-password/green-circle-check.svg"
    alt="green circle checkmart"
    class="img-fluid"
  />
  <p
    class="font-weight-semibold text-center mb-0"
    style="font-size: 1rem; color: #3fc7b6"
  >
    Password Updated!
  </p>
</div>
