<homepage-navbar></homepage-navbar>
<div class="homepage">
  <!-- CRM Section -->
  <crm-section></crm-section>
  <!-- CRM Section -->
  <!-- Founders section -->
  <founders-section></founders-section>
  <!-- Founders section -->
  <!-- AI section -->
  <ai-section></ai-section>
  <!-- AI section -->
  <!-- Why Funda Section -->
  <why-funda-section></why-funda-section>
  <!-- Why Funda Section -->
  <!-- Reviews Section -->
  <reviews-section></reviews-section>
  <!-- Reviews Section -->
  <!-- Pricing Section -->
  <pricing-section></pricing-section>
  <!-- Pricing Section -->
  <!-- Get Approved Section -->
  <get-approved-section></get-approved-section>
  <!-- Get Approved Section -->
  <!-- We Can Fund Section -->
  <we-can-fund-section></we-can-fund-section>
  <!-- We Can Fund Section -->

</div>
<homepage-footer></homepage-footer>
