<div class="container-fluid vh-100 w-100">
  <div class="row h-100">
    <div class="d-none d-md-block col-12 col-md-6 bg-primary orientation">
      <accounts-review></accounts-review>
    </div>
    <div
      class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center orientation-form position-relative"
    >
      <img
        src="assets/images/accounts/top-circles.svg"
        alt="top circles"
        class="img-fluid position-absolute orientation-circles top-circles"
      />
      <img
        src="assets/images/accounts/bottom-circles.svg"
        alt="bottom circles"
        class="img-fluid position-absolute orientation-circles bottom-circles"
      />
      <img
        class="img-fluid"
        src="assets/images/logos/funda-logo-dark.svg"
        alt="Funda Logo"
        width="150"
      />
      <h3 class="my-4 text-primary font-weight-bold text-center">
        We Fund Founders
      </h3>
      <login-form class="w-100 mb-5"></login-form>
      <p class="text-primary font-weight-medium text-center">
        Don’t have a funda account?<a
          [routerLink]="['/accounts/create']"
          [queryParams]="{ step: 'account' }"
          class="text-danger font-weight-bold"
        >
          Sign up
        </a>
      </p>
    </div>
  </div>
</div>
