<!-- Start of fund your CRM section -->
<section
  class="crm-section"
  style="background-color: #f2f5f7; position: relative"
  id="crm-section"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div
          class="
            d-flex
            flex-column
            align-items-center
            text-center text-md-left
            align-items-md-start
            justify-content-md-center
            h-100
            margins
          "
        >
          <h1 class="heading text-primary font-weight-bold">
            We will fund your new<br />
            <span #tw class="tw text-primary font-weight-bold"></span>
          </h1>
          <h2 class="sub-heading text-primary">
            Fast, interest free funding for your innovation<br />from £5k -
            £500k
          </h2>
          <a
            [routerLink]="['/accounts/create']"
            [queryParams]="{ step: 'account' }"
            class="btn btn-danger font-weight-semibold"
          >
            Get Funded
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="phone-side d-flex justify-content-center position-relative">
          <div class="shadow-right"></div>
          <img
            src="assets/images/homepage/crm-section/big-blue.svg"
            class="position-absolute ellipse big-blue"
            alt="big blue ellipse"
          />
          <img
            src="assets/images/homepage/crm-section/big-pink.svg"
            class="position-absolute ellipse big-pink"
            alt="big pink ellipse"
          />
          <img
            src="assets/images/homepage/crm-section/small-blue.svg"
            class="position-absolute ellipse small-blue"
            alt="small blue ellipse"
          />
          <img
            src="assets/images/homepage/crm-section/small-pink.svg"
            class="position-absolute ellipse small-pink"
            alt="small pink ellipse"
          />
          <div class="position-relative mw-60">
            <img
              src="assets/images/homepage/crm-section/phone.svg"
              class="img-fluid phone"
              alt="Mobile displaying funda website"
            />
            <img
              src="assets/images/homepage/crm-section/current-balance-card.svg"
              class="position-absolute cardimg current-balance-card"
              alt="current-balance-card"
            />
            <img
              src="assets/images/homepage/crm-section/you-are-funded.svg"
              class="position-absolute cardimg you-are-funded-card"
              alt="you-are-funded-card"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of fund your CRM section -->
